.DS_Store
Unit 1/Application Projects/.DS_Store
Unit 5/Color Trail/.DS_Store
Unit 5/.DS_Store
Unit 4/Application Projects/Audio -> Video/.DS_Store
Unit 4/Application Projects/Audio -> Video/.DS_Store
Unit 4/Application Projects/Audio <-> Video/.DS_Store
